<?xml version="1.0" ecoding="UTF-8" ?>

<widget xmlns       = "http://www.w3.org//ns/widgets"
        xmlns       = "http://phonegap.com/ns/1.0"
		id          = "com.smartbussiness.focus"
		versionCode = "10"
		version     = "1.0.0" >
		
	<name>Focus Life</name>

    <description>

        Focus Life app test
    </description>	
	
	<author email="Martinlimpic91@gmail.com">
	        Martin Limpic
	</author>


</widget>	